In [4]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import requests
import json

In [5]:
#Totals Folder: by_boro
totals_boro = pd.read_csv("https://raw.githubusercontent.com/nychealth/coronavirus-data/master/totals/by-boro.csv")

In [6]:
totals_boro

,BOROUGH_GROUP,CASE_RATE,HOSPITALIZED_RATE,DEATH_RATE,CASE_COUNT,HOSPITALIZED_COUNT,DEATH_COUNT
0,Bronx,10145.98,1548.15,380.48,143891,21956,5396
1,Brooklyn,8463.13,1176.22,317.39,216648,30110,8125
2,Manhattan,6336.20,894.21,221.03,103198,14564,3600
3,Queens,9601.45,1359.49,364.09,216403,30641,8206
4,StatenIsland,12282.02,1162.26,321.96,58480,5534,1533
5,Citywide,8860.28,1233.16,322.19,738665,102806,26860

### Data Exploration

In [34]:
import pandas as pd
import requests
import json

r = requests.get("https://data.cityofnewyork.us/resource/xywu-7bv9.json?")
population =pd.DataFrame(json.loads(r.text))
population[["borough","_2020"]]

            borough    _2020
0         NYC Total  8550971
1             Bronx  1446788
2          Brooklyn  2648452
3         Manhattan  1638281
4            Queens  2330295
5     Staten Island   487155

### Filling in missing values and creating new columns

### Graphing
#### Now that I have all the data I will need for Diagram #3 (Correleation Between Infection Rate and  Total Population Per Borough). I will start plotting.